html,
body {
  padding: 0;
  margin: 0;
  overflow-x: auto;

  font-family: url("https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Oxygen+Mono&family=Syne:wght@500&display=swap");
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Syne", sans-serif;
}

* {
  box-sizing: border-box;
}

/* part 1 */
.container-1 {
  display: flex;
  background: linear-gradient(0deg, #79858c, #79858c), url(/assets/1.png);
  background-blend-mode: hue, normal;
  background-size: cover;
  width: 100%;
  height: 1080px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "syne";
  box-shadow: none;
  background: transparent;
  position: absolute;
  top: 53px;
}

.nav-link {
  font-family: "sync", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.2rem;
}

.logo-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  margin-top: 880px;
  background: linear-gradient(180deg, rgba(14, 18, 25, 0) 0%, #0e1219 36.72%);
}

.lg-logo {
  position: absolute;
  height: 97px;
  margin-bottom: 150px;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Oxygen-mono";

  color: white;
  margin-top: 97px;
}

.p1-info {
  display: flex;
}

.p2-info {
  text-align: center;
}

.p3-info {
  text-align: end;
}

/* part 2 */

.container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1080px;
  background: linear-gradient(
      180deg,
      #0e1219 100%,
      rgba(14, 18, 25, 0) 15.75%,
      rgba(14, 18, 25, 0) 83.99%,
      #0e1219 80%
    ),
    url(/assets/2.png);
  background-size: auto;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.mesh {
  margin-top: 153px !important;
}

.content {
  display: block;

  position: absolute;
  width: 1193px;
  height: 626px;
  color: white;
  /* background-image: url(/assets/2.png); */
  background-size: contain;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/assets/2.png);
}

.content-1 {
  margin-left: 249px;
  text-align: center;
}

.content-2 {
  margin-top: 42px;
}

.center-img {
  width: 1193px;
  height: 626px;
  margin-left: -265px;
  margin-top: -575px;
}

.button-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 106px;
  border-radius: 50%;
  border-color: white !important;
  border: 2px solid;
  margin-top: 213px;
  margin-top: 12px;
  color: white;
  z-index: 100;
}

/* part 3*/

.container-3 {
  height: 1167px;
  background: linear-gradient(180deg, rgba(14, 18, 25, 0) 0%, #0e1219 100%);
  background-size: auto;
  background-color: #54646d;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.image-1 {
  display: flex;
  justify-content: flex-end;
  margin-top: -889px;
}

.image-2 {
  display: flex;
  justify-content: flex-end;
  margin-top: -500px;
}

.image-3 {
  display: flex;
  justify-content: flex-end;
  margin-top: -420px;
}

.title-box {
  color: white;
  text-transform: uppercase;
  margin-left: 60px;
  position: relative;
}

.index {
  margin-top: 130px;
  color: white;
  margin-left: 60px;
  position: relative;
}

.button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 106px;
  border-radius: 50%;
  border-color: white !important;
  border: 2px solid;
  margin-top: 342px;
  color: white;
}

.button-info {
  display: flex;
  flex-direction: column;
}

/* part 4 */

.container-4 {
  display: flex;
  height: 1080px;
  background: #f7f7f7;
}

.part4-title {
  margin-top: 140px;
  margin-left: 63px;
  font-family: "Syne", sans-serif;
  position: relative;
}

.mesh-2 {
  display: flex;
  margin-bottom: -190.42px;
  margin-top: 480px;
  margin-left: -900px;
}

.links-info {
  font-family: "Syne", sans-serif;
  border-color: #0e1219;
  margin-left: 300px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.link-title {
  color: black;
  font-family: "Syne", sans-serif;
}

.index-num {
  font-family: "Oxygen Mono", monospace;
}

/* footer */
.footer {
  margin-top: -60px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(0deg, #a5b6bd, #a5b6bd), url(/assets/6.png);
  background-blend-mode: normal, color, normal;
  height: 321px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  margin: 60px 83px 0;
  padding-top: 60px;
}

.contact-info {
  font-family: "Oxygen Mono", monospace;
}

.title {
  font-family: "Syne", sans-serif;
}

.button-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 106px;
  border-radius: 50%;
  border-color: white !important;
  border: 2px solid;
  margin-top: 10px;
  margin-left: 815px;
  color: white;
}

.contact-box {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
